<form class="flex justify-center items-center w-screen h-screen bg-primary">
  <div class="flex flex-col justify-center items-center w-2/5 h-5/6 border border-gray-300 rounded-2xl bg-white">
    <div class="flex flex-col justify-center items-center w-4/5 h-96 gap-5 p-3">
      <div class="">
        <img src="assets/logo/qhse.png" class="w-20 h-12">
      </div>

      <div class="flex-col flex text-center gap-2 justify-items-center">
        <p class="font-light text-2xl">Changer de mot de passe</p>
        <p class="text-black font-light">axelle.kwamou&commat;2026.icam.fr</p>
      </div>

      <div class="flex-col flex text-center justify-items-center mt-4">
        <p class="text-black font-light">Entrer votre nouveau mot de passe et valider pour appliquer le changement</p>
      </div>

      <div class="w-full mb-3">
        <div class="grid w-full gap-2">
          <p class="text-sm">Mot de passe</p>
          <input class="w-full border p-2 rounded font-extralight" formControlName="password" pInputText placeholder='********' type='password' />
          <p class="text-sm">Confirmation du Mot de Passe</p>
          <input class="w-full border p-2 rounded font-extralight" formControlName="password" pInputText placeholder='********' type='password' />
        </div>
      </div>

      <button class="w-full font-light bg-button p-2 text-white rounded">
        <p>Valider </p>
      </button>
    </div>
  </div>
</form>
